<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HCXT.Lib.BusinessService.WeixinMsgFileScaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HCXT.Lib.BusinessService.WeixinMsgFileScaner.Properties.Settings>
            <setting name="HCXT_Lib_BusinessService_WeixinMsgFileScaner_Ws_AccessToken_Service_AccessToken"
                serializeAs="String">
                <value>http://localhost:8003/WebApp/Admin/Service_AccessToken.asmx</value>
            </setting>
        </HCXT.Lib.BusinessService.WeixinMsgFileScaner.Properties.Settings>
    </applicationSettings>
</configuration>