<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HCXT.Lib.BusinessService.WeixinReCallFileScaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HCXT.Lib.BusinessService.WeixinReCallFileScaner.Properties.Settings>
            <setting name="HCXT_Lib_BusinessService_WeixinReCallFileScaner_Service_MallService_MallService"
                serializeAs="String">
                <value>http://gd.cttgd.com:8067/MallService.asmx</value>
            </setting>
        </HCXT.Lib.BusinessService.WeixinReCallFileScaner.Properties.Settings>
    </applicationSettings>
</configuration>