<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HCXT.Lib.BusinessService.GdPriceplanImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HCXT.Lib.BusinessService.GdPriceplanImport.Properties.Settings>
            <setting name="HCXT_Lib_BusinessService_GdPriceplanImport_Ws_Priceplan_WsBusiService"
                serializeAs="String">
                <value>http://10.64.0.69:8080/TUIS/TUIS/WsBusiService</value>
            </setting>
        </HCXT.Lib.BusinessService.GdPriceplanImport.Properties.Settings>
    </applicationSettings>
</configuration>